<%= form_for([user, book]) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="form-group">
    <label class="control-label" style="display:block;">Categories</label>
    <% @categories.each do |category| %>
      <div class="checkbox-inline">
        <label>
          <%= check_box_tag 'book[category_ids][]', category.id, book.categories.include?(category) %>
          <%= category.name %>
        </label>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :author, class: 'control-label' %>
    <%= f.text_field :author, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "amazon Id", class: 'control-label' %>
    <%= f.text_field :amazon_id, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description, class: 'control-label' %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.submit btn_val, class: 'btn btn-primary' %>
  </div>
<% end %>

