<% provide(:title, "#{@book.title}") %>

<div class="row mg-bo">
  <div class="col-md-8">
    <h2 class="page-header">Book Details</h2>
    <div class="media book-content">
      <div class="media-left">
        <%= img_from_amazon(@book.amazon_id) %>
      </div>
      <div class="media-body">
        <h3 class="media-heading"><%= @book.title %></h3>
        <div class="book-description">
          <p>
            <span class="label label-info">Book description</span> <%= @book.description %>
          </p>
        </div>
        <div class="book-labels">
          <p><span class="label label-primary">Author</span> <%= @book.author %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <h2 class="page-header">Actions</h2>
    <%= link_to "Edit book", [:edit, @user, @book], class: 'btn btn-warning' %>
    <%= link_to "Delete Book", [@user, @book], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  </div>
</div>


<div class="row">
  <div class="col-md-8">
    <h2 class="page-header">Book Review</h2>
    <% if @book.review.present? %>
      <div>
        <%= @book.user.firstname %> reviewed this book on <%= @book.review.created_at.to_s(:long) %>
      </div>
    <div class="media">
      <div class="media-left">
        <%= gravatar_for(@user, class: "media-object") %>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <% @book.review.rating.times do %>
            <span class="gold-star">&#9733;</span>
          <% end %>
          <%= @book.review.heading %>
        </h4>
        <p>
        <%= @book.review.body %>
        </p>
      </div>
      <div class="rating">
      </div>
    </div>
    <% else %>
      The book has not been reviewed by the owner yet.
      <%= link_to "New Review", new_book_review_path(@book) %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8 mg-bo">
    <h2 class="page-header">Book Comments</h2>
      <ul class="media-list comment-list">
      <% if @book.comments.any? %>
        <% @book.comments.each do |comment| %>
        <li class="media comment">
          <div class="media-left">
            <%= gravatar_for(comment.user, size: '50', class: "media-object") %>
          </div>
          <div class="media-body">
            <h5><%= comment.user.firstname %></h5>
            <small class="text-muted"><%= comment.created_at.to_s(:long) %></small>
            <p>
              <%= comment.content %>
            </p>
          </div>
        </li>
        <% end %>
      <% else %>
        <li class="no-comment">
          Book has not had any comment yet.
        </li>
      <% end %>
      </ul>
  </div>

  <div class="col-md-8">
    <% if logged_in? %>
    <ul id="comment-errors">
    </ul>
    <div id="comment-form">
      <%= form_for(Comment.new, url: book_comments_path(@book), remote: true) do |f| %>
        <legend>Your Comment</legend>
        <%= hidden_field_tag :user_id, current_user.id %>
        <div class="form-group">
          <%= f.label :content, 'Comment', class: 'control-label' %>
          <%= f.text_area :content, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.submit "Post Comment", class: 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
    <% else %>
    <div><%= link_to "Log in", login_path %> and drop a comment?</div>
  <% end %>
  </div>
</div>


