<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "reading list", root_path, id: 'logo', class: 'logo' %>
      </div>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <li><%= link_to "All Users", users_path %></li>

      <% if logged_in? %>
        <li class="dropdown">
          <a class="dropdown-toggle" href="#" data-toggle="dropdown">
              Account <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                  <%= link_to "Log out", logout_path, method: :delete %>
              </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "How to Use", about_path %></li>
        <li><%= link_to "App Architecture", app_architecture_path %></li>
        <li><%= link_to "Log in", login_path %></li>
      <% end %>
    </ul>
  </div>
</header>
