<header class='navbar navbar-fixed-top navbar-inverse'>
  <div class='container'>
    <div class="navbar-header">
      <div class="navbar-brand">
        <%= link_to "reading list", root_path, id: 'logo', class: 'logo' %>
      </div>
    </div>
    <ul class='nav navbar-nav navbar-right'>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "App Architecture", app_architecture_path %></li>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</header>
